body{
    background-color: gold;
    
}
#myButton{
    text-align: center;
    align-content: center;
    background-color: darkred;
    padding: 5px 5px;
}

  
  
#calc{  
width: 250px;  
border: 5px solid black;  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto; 
}