
        body{
            text-align: center;
            padding: 15px;
            font-family: Arial, sans-serif;
            text-align: center;
            font-style:italic;
            background-image: url(calculator1.jpg);
            background-size: 50%;
            
        }
        h1 {
        margin-top: 50px;
        text-align: center;
        font-size: larger;
        font-size: x-large;
        
      }
  
     
   